.singlePost{
    flex: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}


.singlePosetWrapper{
    width: 95%;
}
.singlePostTitle{
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 28px;
    margin-top: 20px;
}
.SinglePagecon{
    float: right;
    font-size: 25px;
}
.deleteIcon , .editIcon{
    margin-top: 25px;
    cursor: pointer;
    margin-left: 10px;
}
.deleteIcon{
    color: #ff0000;
}
.editIcon{
    color: #4b0082;
}
.postInformation{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    line-height: 50px;

}
.singlepostdis{
    color: rgba(32, 24, 24, 0.676);
    font-size: 20px;
    line-height: 25px;
  
}
.singlepostdis::first-letter{
    font-size: 32px;
    margin-left: 10px;
    font-weight: 600;
}

.image-div{
    width: 100%;
    height: auto;
}

.singlepageimage{
    margin-top: 68px;
     width: 370px;
     height: 95%;
 }