.write {
    margin-top: 100px;
}

.fileinputwe {
    display: none;
}

.writeform {
    margin-left: 160px;
}

.writeform .abcd {
    display: flex;
}

.writeTitle {
    border: none;
    font-size: 32px;
    font-weight: 600 ;
    padding-left: 10px;
    width: 70vw;
    margin-top: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
}

.writeTitle:focus {
    outline: none;
}

.writeTectArea {
    margin-top: 20px;
    font-size: 25px;
    min-height: 350px;
    font-weight: lighter;
}


.writeform{
    position: relative;
}

.writebtn {
    position: absolute;
    top: 20px;
    right: 200px;
    color: #fff;
    background-color: #008080;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;

}

.writeImage{
    width: 30%;
    height: 100%;
  
}
.image-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-cover{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 7px 13px;
    border-radius: 20px;
    cursor: pointer;
}
.add-cover h3{
    font-weight: lighter;
}
.add-cover:hover{
    background-color: rgb(241, 223, 223);
    transition: 1s;
}
.writeIcon {
    width: 22px;
    height: 22px;
    border: 2px solid rgba(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}


