.post-div {
    background-color: white;
    border-radius: 12px;
}

.posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

@media screen and (max-width:1250px) {
    /* .post-div {
        width: 83%;
    } */
}

@media screen and (max-width:1150px) {
    /* .post-div {
        width: 92%;
    } */
}

@media screen and (max-width:900px) {
    /* .posts {
        width: 96%;
    } */
    .post-div {
        width: 100%;
    }
}