.sidebar {
    width: 20%;
    padding: 20px 0px;
    background-color:var(--white);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    max-height: 250px;
}

.sidebar .item {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item .title {
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela Round', sans-serif;
    font-size: 22px;
    color: rgb(63, 62, 62);
    font-weight: 600;
    text-align: center;
    line-height: 20px;
}


.sidebarList {
    width: 90%;
    list-style: none;
}

.sidebatListItem {
    cursor: pointer;
    padding-left: 5px;
    padding: 5px 0px;
    border-radius: 10px;
    padding-left: 10px;
}
.sidebatListItem:hover{
    background-color: var(--hover-color);
}

.sidebarSocail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.sidebar_icon {
    margin-top: 15px;
    margin-right: 20px;
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.facebook-icon:hover {
    color: rgb(59, 89, 152);
}

.twitter-icon:hover {
    color: rgb(38, 168, 222);
}

.instagram-icon:hover {
    color: rgb(228, 64, 95);
}

.linkdin-icon:hover {
    color: rgb(14, 118, 168);
}

.writeme {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin-top: 18px;
}


@media screen and (max-width:900px) {
    .sidebar{
     display: none;
    }
   }