.sidebar{
    height: 400px;
width: 20%;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fbfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar .item{
display: flex;
flex-direction: column;
align-items: center;
}
.item .title{
margin: 10px;
padding: 5px;
width: 80%;
border-top: 1px solid #a7a4a4;
border-bottom: 1px solid #a7a4a4;
font-family: 'Varela Round' , sans-serif;
font-size: 18px;
color: #222;
font-weight: 600;
text-align: center;
line-height: 20px;
}
img{
    margin-top: 15px;

}
p{
    padding: 30px;
}
.sidebarList{
    list-style: none;
    margin-bottom: 30px;
    padding-left: 30px;
}
.sidebatListItem{
    display: inline-block;
 
    width: 42%;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}
.sidebarSocail{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar_icon{
    margin-right: 20px;
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s;
}
.facebook-icon:hover{
color: rgb(59, 89, 152);
}
.twitter-icon:hover{
    color: rgb(38, 168,222 );
}
.instagram-icon:hover{
    color: rgb(228, 64,95 );
}
.linkdin-icon:hover{
    color: rgb(14, 118, 168);
}
.writeme{
    margin-top: 50px;
    font-size: 18px;
    font-weight: normal;
}