* {
    margin: 0px;
    padding: 0px;
}

.container1 {
    border-bottom: 2px solid var(--line);
    overflow: hidden;
    padding: 25px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 65%;
}

h2.postTitle {
    font-size: 25px;
    /* text-transform: capitalize; */
    /* letter-spacing: 2px; */
    color: var(--heading);
    font-weight: 600;
    margin: 14px 0px;
}

.postdate {
    font-family: 'Lora', serif;
    color: var(--desc);
    font-style: italic;
}

.username {
    font-weight: normal;
    color: var(--heading);
}

.username,
.postdate {
    font-size: 20px;
    font-weight: 400;
}

.discription {
    font-size: 21px;
    overflow: hidden;
    color: var(--desc);
}

.two-line-heading {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em !important;
    max-height: 3.5em !important;
    cursor: pointer;
}

.main-div {
    display: flex;
    justify-content: space-between;
}

.main-div .first {
    display: flex;
    align-items: center;
    gap: 10px;
}

.image2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.postImage {
    width: 370px;
    height: 150px;
    border-radius: 12px;
    border: 2px solid var(--line);
}