.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home div.con{
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 0px 20px;
}

.posts {
    max-width: 100%; /* Adjust as needed */
}


