@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Sevillana&family=Teko:wght@300;400;500;600&display=swap');

:root {
  --first-color: #e9ebf1;
  --hover-color: #E2E8F0;
  --border-color: #e7e9f2;
  --jd-color-border: #de0a0a;
  --blue: #5846df;
  --heading: #0a122b;
  --white: #fff;
  --desc: #5f5b5b;
  --error: red;
  --black: #000000;
  --bggray: #fafafa;
  --line: #e7e9f2;
}

*{
  text-decoration: none;
}

p {
  font-size: 20px;
  text-align: justify !important;
}

ul li {
  font-size: 20px;
}

.jodit-status-bar {
  visibility: hidden;
}

td {
  border: 1px solid black;
}

body {
  background-color: var(--first-color);
}

.loading-animation {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  margin: auto;
}

.logi-btn {
  background-color: #d05c94;
}

.register-btn {
  background-color: #008080;
}

.register-btn,
.logi-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #008080;
  color: #fff;
  border-radius: 5px;
  padding: 7px 17px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}