.container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #fff;
    padding: 5px 0px;
}

.main {
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    margin: 0px auto;
    z-index: 999;
}

.left h1 {
    font-size: 40px;
}


.image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
 margin-bottom: 10px;
}

.left_icon {
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
    color: #444;
}

.center ul {
    display: flex;
    justify-content: center;
}

 .navbar-list li {
    margin-right: 20px;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    list-style: none;
 
   
}

#search_icon {
    font-size: 30px;
    color: #666;
    cursor: pointer;
    margin-top: 15px;
}

.right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-box {
    position: absolute;
    background-color: #ffffff;
    margin-top: 12px;
    right: 5%;
    border-radius: 8px;
}

.same {
    padding: 0px 20px;
    border-bottom: 2px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: 20px;
}


.same:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}


.user-box  .left2 .username {
    font-size: 22px;
    margin-top: -14px;
}

